In [1]:
import pandas as pd
import os
import wiggum as wg
import numpy as np

In [2]:
labeled_df = wg.LabeledDataFrame('../wiggum_app/static/data/syntheticdata.csv')

In [3]:
labeled_df.df.head()

variable        x1        x2         x3 color char
0         4.981338  5.692554 -10.011868     b    o
1         1.702335 -0.114789   1.970218     r    x
2         5.925274  4.126095  -0.994275     b    x
3         5.753520  4.937954  -9.313826     b    x
4         3.954978  5.919595  -1.613832     b    o

In [4]:
labeled_df.df.columns

Index(['x1', 'x2', 'x3', 'color', 'char'], dtype='object', name='variable')

In [5]:
labeled_df.meta_df

            dtype var_type role isCount weighting_var
variable
x1        float64      NaN  NaN     NaN           NaN
x2        float64      NaN  NaN     NaN           NaN
x3        float64      NaN  NaN     NaN           NaN
color      object      NaN  NaN     NaN           NaN
char       object      NaN  NaN     NaN           NaN

In [6]:
roles = {'x1':'trend', 'x2':'trend', 'x3':'trend', 'color':['groupby','explanatory'], 'char':['groupby','explanatory']}

labeled_df.infer_var_types()
labeled_df.set_counts([])
labeled_df.set_roles(roles)
labeled_df.set_weighting_vars({})

labeled_df.meta_df

/home/smb/anaconda3/lib/python3.6/site-packages/detect_simpsons_paradox/labeled_dataframe.py:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.meta_df['role'][k] = v

            dtype    var_type                    role  isCount weighting_var
variable
x1        float64  continuous                   trend    False           NaN
x2        float64  continuous                   trend    False           NaN
x3        float64  continuous                   trend    False           NaN
color      object      binary  [groupby, explanatory]    False           NaN
char       object      binary  [groupby, explanatory]    False           NaN

In [7]:
corrobj = wg.All_Pearson()
rankobj = wg.Mean_Rank_Trend()
linreg_obj = wg.Linear_Trend()

In [8]:
labeled_df.get_subgroup_trends_1lev([corrobj,rankobj,linreg_obj])
labeled_df.result_df.sample(10)

   feat1 feat2 group_feat subgroup  subgroup_trend    trend_type  agg_trend
20    x2    x3      color        b       -1.533898       lin_reg  -1.084606
5     x1    x3      color        r        0.048639  pearson_corr  -0.191038
19    x1    x3       char        x       -0.502050       lin_reg  -0.922976
7     x1    x3       char        x       -0.108892  pearson_corr  -0.191038
9     x2    x3      color        r        0.046381  pearson_corr  -0.237076
3     x1    x2       char        x        0.761171  pearson_corr   0.734810
23    x2    x3       char        x       -0.634242       lin_reg  -1.084606
0     x1    x2      color        b       -0.651036  pearson_corr   0.734810
14    x1    x2       char        o        0.682804       lin_reg   0.775997
2     x1    x2       char        o        0.600311  pearson_corr   0.734810

In [9]:
labeled_df.meta_df

            dtype    var_type                    role  isCount weighting_var
variable
x1        float64  continuous                   trend    False           NaN
x2        float64  continuous                   trend    False           NaN
x3        float64  continuous                   trend    False           NaN
color      object      binary  [groupby, explanatory]    False           NaN
char       object      binary  [groupby, explanatory]    False           NaN

In [10]:
labeled_df.get_vars_per_role('groupby')

Index(['color', 'char'], dtype='object', name='variable')